---
import { getAllAgents } from "../../backend.mjs";

const agents = await getAllAgents();
console.log("Agents chargés dans Astro :", agents); 
---

<h1 class="text-blue-700 font-extrabold text-2xl uppercase py-3 pl-3">
    Liste des Agents
</h1>

{
    agents.length > 0 ? (
        <ul>
            {agents.map((agent) => (
                <li class="pl-4">
                    <a href={`/agents/${agent.id}`}>
                        {agent.Nom} {agent.Prenom} - {agent.Email}
                    </a>
                </li>
            ))}
        </ul>
    ) : (
        <p>Aucun agent trouvé.</p>
    )
}
