<nav class="bg-slate-900">
    <a class="class= text-blue-400 font-normal uppercase pl-5" href="/">Accueil</a
    >
    <a class="class= text-blue-400 font-normal uppercase pl-5" href="/offres"
        >Offres</a
    >
    <a class="class= text-blue-400 font-normal uppercase pl-5" href="/agents"
        >Agents</a
    >
    <a class="class= text-blue-400 font-normal uppercase pl-5" href="/offres/add"
        >Ajouter une maison</a
    >
    
</nav>
